@import '../../Styles/variable';

.view-all-items{
    width: 100vw;
    position: relative;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    display: grid;
    padding: 60px 10px;
    background: $mainColor;
    h3{
        position: fixed;
        left: 30px;
        top: 30px;
        display: flex;
        font-family: $exo;
        align-items: center;
        color: $blackColor;
        img{
            transform: rotate(-180deg);
            height: 18px;
            margin-right: 7px;
            opacity: .5;
        }
    }
    .card-container{
        width: 100%;
        max-width: 1000px;
        display: grid;
        height: auto;
        place-items: center;
        grid-gap: 15px;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 20px;
    }
}