
// the fonts import --------------------
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Exo+2:wght@200;300;400;500;800;900&family=Exo:wght@200;300;400;500&display=swap');

// variables-----------------------------

// fonts 
$exo:'Exo', sans-serif;
$exo2:'Exo 2', sans-serif;
$caveat: 'Caveat', cursive;

// colors
$mainColor :#FFEBB8;
$whiteColor:#ffffff;
$blackColor:#000000;
